/*#coverage-matrix_wrapper table.dataTable thead .sorting {*/
/*    background-position: bottom center !important;*/
/*}*/

#tree {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
}

#coverage-matrix_wrapper thead th {
    /* Turn headers 90° */
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    /*height: min-content !important;*/
    /*width: min-content !important;*/
    min-height: 24px;
    min-width: 24px;
    padding: 0 0 0 0 !important
}


table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px 0px;
    text-align: center;
}

table, ::after, ::before {
    box-sizing: unset;
}

#pie, #histogram {
    height: min-content !important;
}

#coverage-matrix, #result-tsv {
    width: min-content !important;
    white-space: nowrap;
}

.plot-title {
    white-space: nowrap;
}

.plot-title h1, h2 {
    display: inline;
}

@media screen and (min-width: 1100px) {
    #container-left {
        max-width: 65%;
        width: 65%;
        float: left;
        height: 100vh;
        overflow-x: auto;
        overflow-y: auto;
    }

    #container-right {
        max-width: 35%;
        width: 35%;
        float: left;
        height: 100vh;
        overflow-x: auto;
        overflow-y: auto;
    }
}

#result-tsv_wrapper, #coverage-matrix_wrapper {
    width: 100%;
    overflow-x: auto;
}

.plot-container {
    text-align: center;
    width: 100%;
}

.svg-container {
    display: inline-block;
}

#metadata-div {
    white-space: pre;
}


.popover {
    width: min-content !important;
}

.popover-header {
    white-space: nowrap;
}